/* You can add global styles to this file, and also import other style files */

// Include Angular Material dark theme
@import '@angular/material/prebuilt-themes/purple-green.css';

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

// Dark mode global styles
body {
	background-color: #121212;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
}
